@media only screen and (min-width: 80em) {
    #localads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #company1 {
        grid-column: 1/2;
    }

    #company2 {
        grid-column: 2/3;
    }

    #company3 {
        grid-column: 3/4;
    }

    #company2 img {
        order: 1;
    }
    #company2 p {
        order: 2;
    }

    #company1 img, #company1 p, #company2 img, #company2 p, #company3 img, #company3 p {
        margin: 5px;
    }
    
}